.form__button {
    border-radius: 5px;
    border: 0;
    width: 150px;
    height:25px;
    margin: 5px;
    &:hover { 
        cursor: pointer;
}
}

input {
    font-family: Arial;
    font-size: 12px;    
    width: 200px;
    margin:5px;
}

form{
    display:flex;
    flex-direction:column;
}