<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="/styles/resets.css">
        <link href="/styles/base.css">
        <link href="/styles/header.css">
        <link href="/styles/form.css">
        <link href="/styles/footer.css">
    </head>

    <body onload="Client.dateCountdown()">

        <header>
            <div class="">
                Logos
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="locationName" type="text" name="locationName" value="" placeholder="Destination">
                    <input id="departDate" type="date" name="departDate" value="" placeholder="Departure Date">
                    <input type="submit" name="" value="Save Trip" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
                <div id="countdown"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>     
    
    </body>
</html>
