<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="/styles/resets.css">
        <link href="/styles/base.css">
        <link href="/styles/header.css">
        <link href="/styles/form.css">
        <link href="/styles/footer.css">
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    </head>

    <body onload="Client.initialData()">

        <header>
            <div class="main__hero">
                <h1>Travel Planner</h1>
            </div>
        </header>
        <main class="wrapper">
            <section class="trip__container">
                <div class="results" id="results"></div>
                <img class="weather__icon" id="weatherIcon"></img>
                </section>
                <section class="img__container"> 
                <img id="locPic"></img>
                </section>
                
            <section class="form__container">
                <form onsubmit="return Client.handleSubmit(event)">
                    <h2>My trip to: 
                        <input id="locationName" type="text" name="locationName" value="" placeholder="Destination"></h2>
                    <h2>Departing: 
                        <input id="departDate" type="date" name="departDate" value="" placeholder="Departure Date"></h2>
                    <div>
                    <input class="form__button" type="submit" name="" value="Save Trip" onclick="return Client.handleSubmit(event)">
                    <input class="form__button" type="reset" value="Remove Trip " onclick="return Client.removeTrip()" />
                </div>
                </form>
            </section>
        </main>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>     
    
    </body>
</html>
